@page
@model HormonaCrecimiento.App.Pages_BDMedicos.ListModel
@{
}
<h1 class="text-white text-center">Lista Medicos</h1>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Número Teléfono</th>
      <th scope="col">Género</th>
      <th scope="col">Especialidad</th>
      <th scope="col"><a asp-page="./Create"><span class="material-icons">person_add</span></a></th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  @foreach (var medico in Model.Medicos)
  {
    <tbody>
      <tr>
        <th scope="row">@medico.Id</th>
        <td>@medico.Nombres</td>
        <td>@medico.Apellidos</td>
        <td>@medico.NumeroTelefono</td>
        <td>@medico.Genero</td>        
        <td>@medico.Especialidad</td>
        

        <td><a asp-page="./Details" asp-route-Id="@medico.Id"><span class="material-icons">description</span></a></td>
        <td><a asp-page="./Edit" asp-route-Id="@medico.Id"><span class="material-icons">edit</span></a></td>
        <td><a asp-page="./Delete" asp-route-Id="@medico.Id"><span class="material-icons">delete</span></a></td>
      </tr>

    </tbody>
  }
</table>
